<html>
    <head>
        <title>Django Girls Blog</title>         	
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girl Blog</a></h1> 
        </div>
	<div>
	    <p>published:21.01.2021,03:48</p>
	    <h2><a href="">İlk Blogum</a></h2>
            <p>Web alanında ilk çalışmam</p>
	    <ul><li>İlk liste <li>İkinci Liste<li>üçüncü_liste</li></li></li></ul>	
	</div>
	<div>
	    <p>Published:21.01.2021,03:51</p>
	    <h2><a href="">İkinci Gönderim</a></h2>
	    <p>Bir varmış bir yokmuş evvel zaman içinde ne kadar da çok şey varmış</p>
	</div>
    </body>
</html>